<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
    <title>Beaver Hunting</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/iconfont.css"/>
    <link rel="stylesheet" href="/css/slick/slick.css"/>
    <link rel="stylesheet" href="/css/slick/slick-theme.css"/>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/magnific-popup.css"/>


    <link rel="stylesheet" href="/css/plugins.css"/>

    <link rel="stylesheet" href="/css/style.css"/>

    <link rel="stylesheet" href="/css/responsive.css" />

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">

<div class='preloader'>
    <div class='loaded'>&nbsp;</div>
</div>
<div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">

                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="/test">
                                        <img width="180" height="150" src="/images/logo.png" />
                                    </a>
                                </div>

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="/main">홈</a></li>
                                        <li><a href="/notice/noticeList">게시판</a></li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </header>


    <section id="home" class="home">
        <div class="overlay">
            <div class="home_skew_border">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="main_home_slider text-center">
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>-Beaver Hunting-</h3>
                                        <h1>비버 개체수 감소 프로젝트</h1>
                                        <div class="separator"></div>
                                        <p>수중생활에 뛰어나며 댐을 만드는 것으로 유명하다. 하천이나 늪에 살며, 하천 가까운 곳에 있는 나무를 갉아 넘어뜨린 다음 쌓인 흙이나 돌을 첨가하여 댐을 만든다. 댐의 높이는 일정하고 댐의 길이는 20-30m가 보통이나 때에 따라서는 650m나 되는 것도 있다. 보금자리는 완성된 못의 중앙에 있는데, 나무·돌·흙 등으로 섬을 만들고 그 위에 보금자리를 만든다. 보금자리는 수면보다 약간 높은 곳에 위치하며 규모가 커서 사람이 똑바로 서서 들어갈 정도의 것도 있다. 큰 하천이나 늪에 사는 개체는 늪기슭에 터널을 파고 그 깊은 곳에 보금자리를 만든다.</p>
                                        <div class="home_btn">
                                            <a href="/user/login" class="btn btn-lg m_t_10">로그인</a>
                                            <a href="/test" class="btn btn-default">비버사냥하기</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>토벌 목록</h3>
                                        <h1>위험도 3 : 협비버</h1>
                                        <div class="separator"></div>
                                        <p>폴리텍 강서캠퍼스에 서식중이며 교실에 가끔씩 출몰할 때가 있다.</p>
                                        <div class="home_btn">
                                            <a href="" class="btn btn-lg m_t_10">로그인</a>
                                            <a href="" class="btn btn-default">토벌하러 가기</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="single_home_slider">
                                    <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                        <h3>토벌 목록</h3>
                                        <h1>위험도 5 : 협발놈</h1>
                                        <div class="separator"></div>
                                        <p>성격이 매우 포악하고 거칠며, 함부로 건드는 사람은 앞니로 찍어 치명상을 입힌다.</p>
                                        <div class="home_btn">
                                            <a href="" class="btn btn-lg m_t_10">로그인</a>
                                            <a href="" class="btn btn-default">토벌하러 가기</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



</div>

<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.masonry.min.js"></script>

<!--slick slide js -->
<script src="/css/slick/slick.js"></script>
<script src="/css/slick/slick.min.js"></script>


<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>

</body></html>
