<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IHashtagMapper">

    <select id="getHashtag" resultType="DiaryDTO">
        select D.DIARY_SEQ as diarySeq, D.IMG_PATH as imgPath
        from HASHTAG_DIARY HD
                 join DIARY D on HD.DIARY_SEQ = D.DIARY_SEQ
        where HD.HASHTAG_ID = #{hashtagId}
    </select>

    <update id="updateProfile" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET USER_INTRO = #{user_intro},
            USER_NICK = #{user_nick}
        WHERE USER_ID = #{user_id};
    </update>

    <select id="getUserId" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT USER_ID
        FROM USER_INFO
    </select>

    <update id="updatePhoto" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET PROFILE_PATH = #{profile_path}
    </update>

    <select id="getfollowingId" resultType="FollowDTO">
        SELECT FOLLOWING_ID
        FROM FOLLOW
        WHERE FOLLOW_ID = #{follow_id};
    </select>

    <select id="getfollowId" resultType="FollowDTO">
        SELECT FOLLOW_ID
        FROM FOLLOW
        WHERE FOLLOWING_ID = #{following_id};
    </select>




</mapper>